doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title
    style(type='text/css').
      body {
      font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
      }
      h1 {
        margin: 0
      }
      h2 {
        margin: 0
      }
      h3 {
        margin: 0
      }
      h4 {
        margin: 0
      }
      p {
        margin: 0
      }
      a {
        color: inherit;
        text-decoration: none;
      }
      
  body 
    div(style="background:linear-gradient(0deg, #f1f1f1 0 50%, #f9f9f9 50% 100%); padding:1.5rem;")
      table(style="background: #fff; border-radius: 0.5rem; max-width: 32rem; margin:0 auto; border-collapse: collapse;")
        thead
          tr
            th(style="padding: 1.75rem 1.75rem 0 1.75rem ")
              h1(style="font-size: 2.25rem; font-weight: 800; line-height: 2.5rem; text-align: center;") Bienes
                span(style="font-weight: 400") Raíces
              p(style="font-size: 0.875rem; font-weight: 500; line-height: 1.25rem; margin: 0.5rem 0 0 0") Restablecer Contraseña
        tbody
          tr
            td(style="padding: 1.25rem 1.75rem 1.75rem 1.75rem;")
              p Hola #{ name }, has solicitado un restablecimiento de contraseña para tu cuenta, presiona en el botón que aparece a continuación para cambiar tu contraseña
              p(style="margin-top: 1rem;") <span style="font-weight:500;">Si no has solicitado el cambio de contraseña</span> entonces puedes ignorar este mensaje.
          tr
            td(style="padding: 0 1.75rem 1.75rem 1.75rem;")
              div(style="text-align: center; margin: 0 0 0.5rem 0")
                a(href=`${ link }` style="display: inline-block; background: #0284C7; color: #fff; font-weight:700; border-radius: 0.5rem; padding: 1rem 1.5rem; text-transform: uppercase;") Cambiar Contraseña
              p(style="color: #6b7280; font-size: 0.75rem; line-height: 1rem; text-align: center;") Tambien puedes usar está dirección
              a(href=`${ link }` style="display: block; color: #6b7280; font-size: 0.75rem; line-height: 1rem; font-style:italic; text-align: center;")= link